@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import url("./fonts.css");

:root {
  font-family: Geist, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  line-height: 1.5;
  font-weight: 500;
  font-synthesis: none;
  color-scheme: only light !important;
  overflow: hidden !important;
  color: rgba(255, 255, 255, 0.87);
  background-color: transparent !important;
  font-synthesis: none;
  user-select: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  outline: none !important;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: transparent;
}

::-webkit-scrollbar {
  display: none;
}

@layer base {
  * {
    @apply border-border;
  }
}
